body {
  background-color: #81BEF7;
  font-family: Arial, sans-serif;
  color: #071914;
}

header {
  background-color: #EFFBFB;
  padding: 20px;
}

h1 {
  color: #1E90FF;
  font-size: 48px;
  margin: 0;
  background-color: #FFFFFF;
}

section {
  background-color: #E6F2F5;
  padding: 20px;
  margin-bottom: 20px;
}

h2 {
  color: #000000;
  font-size: 24px;
  margin: 0;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #1E90FF;
}

figure {
  margin: 0;
}

figcaption {
  font-size: 14px;
  text-align: center;
}

.City img {
  width: 65%;
  height: auto;
  margin: 10px 0;
}

.pronunciation, .translation, .city-recognition {
  background-color: #B0E0E6;
  padding: 10px;
  margin-bottom: 10px;
}

.answer {
  margin-top: 5px;
  font-size: 16px;
  text-align: center;
}

